.swiper{padding-bottom: 24px;}
.swiper-button-prev, .swiper-button-next{
    background: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    background: var(--dark-blue);
    color: #fff;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 16px;

}
.swiper-pagination-bullet-active{
    background: var(--dark-blue);width: 40px;border-radius: 20px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{bottom: 0px;}
.card{border: 1px solid #e2e2e2;}
.card-img{overflow: hidden;}
.card img{transition: all .3s ease-in-out;}
.card:hover img{transition: all .3s ease-in-out;transform: scale(1.05);}
.card:hover{border:1px dashed var(--dark-blue);}
.card .card-body{padding: 10px;}
.card-title{
    font-size: 14px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    line-height: 26px;
    text-align: center;
}


@media(max-width:900px){
    .swiper-button-prev, .swiper-button-next{
        width: 20px;
        height: 20px;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 10px;
    }
}